.header{
    height: 50px;
   background-color:rgb(182, 180, 180);
    color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
  justify-content: space-around;
}
.option{
    display: flex;
    justify-content: end;
   color:black;
}
